.centered {
    width: 400px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.title {
    width: 400px;
    font-family: 'Roboto Mono';
    font-size: 24px;
    color: #ffffff;
}
.slogan {
    font-size: 18px;
    font-weight: 600;
    color: rgba(255,255,255, 0.5);
}
.phone {
    font-size: 14px;
    color: rgba(255,255,255, 1);
    width: 150px;
    height: 50px;
    position: absolute;
    left: 80%;
    top: 80%;
    text-align: right;
    transform: translate(-10%, -10%);
}

.phone a {
    vertical-align: top;
    color: inherit
}

.phone .material-icons {
    padding-top: 0px;
    font-size: 22px
}
