@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
    background: #1b5e20;
    font-family: 'Open Sans';
}

.main .logo {
    padding: 0 17.5%;
}

.main .brand {
    text-align: justify;
    color: #ffffff;
    font-size: 1em;
    padding: 0 17.5%;
}

.main .brand .eqisa {
    font-family: 'Roboto Mono';
}

.main .brand .slogan {
    font-size: 0.7em;
    text-align: justify;
    color: rgba(255,255,255, 0.5);
}

.contact {
    font-size: 0.7em;
    color: rgba(255,255,255, 1);
    padding: 0 25%;
    text-align: center;
}
.contact a {
    vertical-align: top;
    color: inherit
}
.contact .material-icons {
    padding-top: 0px;
    font-size: 22px
}

@media (min-width: 670px) {
    .main {
        width: 500px;
        height: 100px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .main .logo {
        float:left;
        width: 20%;
        padding: 0 2.5%;
    }
    .main .brand {
        float: right;
        width: 70%;
        font-size: 1.5em;
        padding: 0 2.5%;
        margin-top: 7px;
    }

    .main .brand .slogan {
        font-size: 0.7em;
    }
    
    .main br {
        clear: both;
    }

    .contact {
         width: 170px;
         height: 50px;
         position: absolute;
         left: 80%;
         top: 80%;
         text-align: right;
         transform: translate(-10%, -10%);
         padding: 0;
         font-size: 0.8em;
    }

}
